@font-face {
    font-family: Font1;
    src: url(/assets/fonts/MedievalSharp-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
  }
  
  body,
  input,
  button {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  button {
    cursor: pointer;
  }
  

h1 {
    text-align: center;
    font-family: Font1;
    padding-top: 20px;
    padding-bottom: 5px;
}
h2 {
    text-align: center;
    font-family: Font1;
    padding-top: 20px;
}

img {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10;
    padding-top: 5px;
  }

  p {
    padding: 0 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  h3 {
    font-family: font1;
    padding: 0 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 15px;
  }

    h4 {
    font-family: font1;
    padding: 0 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 15px;
  }
  